.a{
    position:fixed;
    top:0px;
    left:0px;
    width: 100%;
    height:20%;
    background-color: aqua;
}
.a1{
    width: 100px;
    height:100px;
    border-radius: 360px;
    position:fixed;
    top:100px;
    left: 100px;
    background-color: black;
}
.a2{
    position: fixed;
    top:140px;
    left: 0px;
    width:200px;
    height:80%;
    background-color: blueviolet;

}
.a3{
    position: fixed;
    top:250px;
    left: 100px;
    height:100px;
    width:200px;
    background-color: brown;
}
.a4{
    margin-top:400px;
    margin-left:400px;
    background-color: chartreuse;
    height:1000px;
    width: 100px;
}
.a5{
    
    margin-top: 300px;
    margin-left: 700px;
    background-color: chartreuse;
    height:100px;
    width: 100px;
    border-radius: 360px;
}